//@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url(./fonts/Ubuntu-Regular.ttf) format('truetype');
}

$body-bg: #1D143B !default;
$body-color: #ffffff !default;
$primary: #29ABE2 !default;
$secondary: #3B2F66 !default;
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #979797 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$red:     #F05338 !default;
$input-bg: transparent !default;
$input-placeholder-color:#ffffff !default;
$font-family-base:'Ubuntu',
sans-serif;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .750 !default;
$form-group-margin-bottom: 1rem !default;
$input-btn-padding-y-lg: .7rem !default;
$small-font-size: 88% !default;

@import '~bootstrap/scss/bootstrap.scss';

.landingPage {
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;

    figure {
        margin-top: 15px;
    }

    .carousel-item {
        text-align: center;
        height: 90vh;
    }

    h3 {
        color: $primary;
        text-align: center;
        font-size: 24px;
    }

    .lpFooter {
        position: absolute;
        width: 100%;
        bottom: 0;

        button {
            margin: 30px 0 10px 0;
        }
    }
}

.loginPage {
    figure {
        margin: 40px 0;
    }
}

.form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 0;
    color: $white;

    &:focus {
        border-color: $primary;
        color: $white;
        box-shadow: none;
    }
}


.form-group {
    position: relative;
    margin-bottom: $form-group-margin-bottom *2;

    .form-control {
        position: relative;
        z-index: 2000;

        &::placeholder {
            color: transparent;
        }

        &+.form-label {
            transition: transform .25s, opacity .25s ease-in-out;
            transform-origin: 0 0;
            position: absolute;
            top: 0;
            left: 0;
            user-select: none;
            z-index: 1500;
            padding: 10px 0;
            color: $white;
            font-size: $font-size-base * 1;
            margin-bottom: 0;
        }

        &:focus,
        &:not(:placeholder-shown) {
            &+.form-label {
                transform: translate(1%, -50%) scale(.9);
                color: $primary;
                padding: 0;
            }
        }
    }

}

.input-group-text {
    background: transparent;
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding-left: 0;
}

.btn-outline-secondary {
    color: $white;
    border-color: $white;
}

.btn-lg,
.btn-group-lg>.btn {
    font-size: 16px;
}

.btn-outline-secondary img {
    margin-left: 5px;
}

.list-group-item {
    background: transparent;
    border-color: $secondary;
}

.headerPrimary {
    background: #3B2F66;
    padding: 10px 0;
    margin-bottom: 20px;
    height: 7vh;
}

.locationIdentify {
    & .liBtn {
        position: absolute;
        bottom: 20px;
    }

    & .liAddress {
        background-color: #3B2F66;
        position: absolute;
        bottom: 12vh;

        padding: 20px;
        border-radius: 8px;
    }

    & .alert-warning {
        position: absolute;
        top: 10vh;
        z-index: 10;
    }

    & .liBtn,
    & .liAddress,
    & .alert-warning {
        width: 94vw;
        left: 3vw;
    }

}

.liLocations {
    display: none;
    position: absolute;
    top: 0;
    z-index: 20;
    background: $body-bg;
    height: 100vh;

    & .nblList {
        & .list-group-item {
            background-image: url(./assets/svg/LocationPointer.svg);
            background-repeat: no-repeat;
            background-position: 6px 14px;
            padding-left: 30px;
            color: $white;
        }

        & .list-group-item-action {

            &:focus,
            &:hover {
                background-color: $primary;
                outline: none;
            }
        }
    }
}

.myBookings {
    & .nav {
        background-color: $secondary;
        & .nav-link{
            text-align: center;
            color:$white;
            padding:15px 0;
            &.active{
                border-bottom: 2px solid $white;
                font-weight: bold;
            }
        }
    }
}
.bookingBlock{
    margin-top: 20px;
    & ul{
        border-width: 1px 0;
        border-style: solid;
        border-color: $gray-500;
        margin: 15px 0;
    padding: 15px;
    }
}
